body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
  h1 {
    color: orange;
  }

  .job {
    padding: 20px 30px;
    margin: 20px 30px;
    background-color: #17191d;
    border-radius: 10px;
    .position {
      color: orange;
      padding: 20px 30px;
    }
    .bulktext {
      padding: 20px 30px;
      font-style: italic;
    }
    .url {
      color: limegreen;
      font-weight: bolder;
      padding: 20px 30px;
      cursor: pointer;
    }
  }
}
